@page "/Routes/Routes"

@using blalogin.Data


@inject RouteService routeService

<h3>Route List</h3>


<div class="row">
    <div class="col">
        <NavLink class="nav-link" href="Routes/AddRoute">
            <button type="button" class="btn btn-primary"><i class="oi oi-plus"></i>   Add New</button>
        </NavLink>
   
     </div>
    <div class="col">

        <input type="text" @bind-value="@searchTerm" />
        <input type="button" class="btn btn-primary" required value="Search" @onclick="@SearchIssues" />
        <input type="button" class="btn btn-danger" value="Clear" @onclick="@Clear" />


    </div>
    <div class="col">

        <form method="post" enctype="multipart/form-data" class="form-group">
            <div>
                <input name="file" type="file" class="form-control-file" required  />
                <input type="button" class="btn btn-primary" required value="Import" />
                    

            </div>
        </form>

        <div>

        </div>


    </div>
</div>


@if (RObj is null)
{
    <p><em>Loading... !</em></p> }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Routename Name</th>
                <th>Billdays</th>
                <th>Supervisorname</th>
                <th>Code</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in RObj)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Routename</td>
                    <td>@emp.Billdays</td>
                    <td>@emp.Supervisorname</td>
                    <td>@emp.Code</td>
                    <td>
                        <a class="nav-link" href="Routes/EditRoute/@emp.Id">

                            <button type="button" class="btn btn-outline-success"> <i class="fa fa-edit"></i> Edit</button>
                        </a>

                    </td>
                    <td>

                        <a class="nav-link" href="Routes/Delete/@emp.Id">
                            <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>  Delete</button>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>}


@code { List<Route> RObj;
    protected override async Task OnInitializedAsync()
    {
        RObj = await Task.Run(() => routeService.GetAllRoutesAsync());

    }
    private string searchTerm;
    private List<Route> issues;


    async Task SearchIssues()
    {
        RObj = await routeService.SearchIssuesAsync(searchTerm);
    }
    private async Task Clear()
    {
        searchTerm = string.Empty;
        await SearchIssues();
    }

   


}
 



